<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.slions.fxservice">
    <!-- Needed to wake up the screen -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Needed to change system settings such as adaptive brightness -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- Needed to display lock cancel dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Needed to change auto-sync -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".ActivitySettings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
            <intent-filter>

                <!-- Define it as main activity -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Register it with Android Launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Register it as quick settings app preferences, thus making sure it is opened through long press on QS tile -->
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity> <!-- Accessibility Service -->
        <service
            android:name=".FxService"
            android:label="Fx Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/fxservice" />
        </service> <!-- quick settings adaptive brightness tile service -->
        <service
            android:name=".TileServiceBrightnessAdaptive"
            android:icon="@drawable/ic_adaptive_brightness"
            android:label="@string/tile_service_name_adaptive_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--
            use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service
            -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service> <!-- quick settings fx brightness tile service -->
        <service
            android:name=".TileServiceScreenFilter"
            android:icon="@drawable/ic_screen_filter"
            android:label="@string/tile_service_name_fx_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--
            use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service
            -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service> <!-- quick settings auto-sync tile service -->
        <service
            android:name=".TileServiceAutoSync"
            android:icon="@drawable/ic_sync"
            android:label="@string/tile_service_name_auto_sync"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--
            use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service
            -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service> <!-- quick settings auto-rotate tile service -->
        <service
            android:name=".TileServiceAutoRotate"
            android:icon="@drawable/ic_screen_rotation"
            android:label="@string/tile_service_name_screen_rotation_auto"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--
            use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service
            -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>
    </application>

</manifest>