<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.slions.fxservice">

    <!-- Needed to wake up the screen -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Needed to change system settings such as adaptive brightness -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme">
            <intent-filter>
                <!-- Define it as main activity -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Register it with Android Launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Register it as quick settings app preferences, thus making sure it is opened through long press on QS tile -->
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>

        <!-- Accessibility Service -->
        <service
            android:name=".FxService"
            android:label="Fx Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/fxservice" />
        </service>

        <!--quick settings adaptive brightness tile service-->
        <service
            android:name=".AdaptiveBrightnessTileService"
            android:icon="@drawable/ic_adaptive_brightness"
            android:label="@string/tile_service_name_adaptive_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service-->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <!--quick settings fx brightness tile service-->
        <service
            android:name=".FxBrightnessTileService"
            android:icon="@drawable/ic_fx_brightness"
            android:label="@string/tile_service_name_fx_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!--use ACTIVE_TILE to self-update the quick settings tile.
            make use of the job service-->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

    </application>

</manifest>